:root {
  --primary-color: hsl(211, 75%, 40%);
  --shadow-light: 0 2px 6px 0 hsl(247, 52%, 12%, 0.2);
  --color-white: hsl(240, 100%, 99%);
}
* {
  margin: 10rem;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
